<div class="todo-item" [class.completed]="todo().completed">
  @if (isEditing()) {
    <input
      class="edit-input"
      type="text"
      [ngModel]="editedTitle()"
      (ngModelChange)="editedTitle.set($event)"
      (keyup.enter)="saveEdit()"
      (keyup.escape)="cancelEdit()"
    />
    <button type="button" (click)="saveEdit()">Kaydet</button>
    <button type="button" (click)="cancelEdit()">İptal</button>
  } @else {
    <input
      class="toggle"
      type="checkbox"
      [checked]="todo().completed"
      (change)="toggle()"
    />
    <span class="title">{{ todo().title }}</span>
    <button type="button" (click)="startEdit()">Düzenle</button>
    <button type="button" (click)="remove()">Sil</button>
  }
</div>
